/* You can add global styles to this file, and also import other style files */
@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.form-validation-error-message {
  color: #ea5555;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  font-size: 0.813rem;
  line-height: "1.438rem";
  font-weight: "500";
}

::-webkit-scrollbar {
  display: none;
}
