<div class="flex gap-5 overflow-scroll mt-6 px-4 pb-5">
    <article *ngFor="let column of (selectedBoard$|async)?.columns; let i = index">
        <div class="flex gap-2 mb-4 w-[17.5rem]">
            <div class="w-4 h-4 rounded-full" [ngStyle]="{ 'background-color': getRandomColor(i) }"></div>
            <h2 class="text-heading-S text-medium-grey"><span
                    class="tracking-widest">{{column.name.toUpperCase()}}</span>
                ({{column.tasks?.length}})</h2>
        </div>

        <div class="flex flex-col gap-4">
            <div *ngFor="let task of column.tasks"
                class="bg-white flex flex-col gap-2 rounded-lg cursor-pointer px-4 py-5 w-[17.5rem] shadow-[0_4px_6px_rgba(54,78,126,0.115)]"
                (click)="viewTask(task._id,task.title, task.description, task.subtasks,task.status)">
                <h3 class="text-heading-M text-black">{{task.title}}</h3>
                <p class="text-body-M text-medium-grey">{{getCompletedSubtasks(task)}} of {{task.subtasks?.length}}
                    subtasks</p>
            </div>
        </div>
    </article>

    <div class="w-[17.5rem] h-full bg-red justify-center items-center">
        <button>+ New Column</button>
    </div>
</div>

<ng-template #viewTaskRef>
    <app-view-task [id]="taskId" [title]="taskTitle" [description]="taskDescription" [subtasks]="taskSubtasks"
        [status]="taskStatus"></app-view-task>
</ng-template>